<ion-view title="Account">
  <ion-content class="has-header padding">
    <h1>Eventos</h1>
      <lazy-load></lazy-load>
      <div ng-controller="events.calendar">

          <div id="info"></div>

          <div class="row">

              <div class="col-md-8 col-xs-12">
                  <div class="btn-group">
                      <button class="btn btn-default" data-calendar-view="year">Ano</button>
                      <button class="btn btn-default active" data-calendar-view="month">Mês</button>
                      <button class="btn btn-default" data-calendar-view="week">Semana</button>
                      <button class="btn btn-default" data-calendar-view="day">Dia</button>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12">
                  <div class="btn-group">
                      <button class="btn btn-labeled btn-default" data-calendar-nav="prev"><span class="btn-label"><i
                              class="glyphicon glyphicon-arrow-left"></i></span> Anterior
                      </button>
                      <button class="btn" style="border: 1px solid #ccc;" data-calendar-nav="today">Hoje</button>
                      <button class="btn btn-labeled btn-default" data-calendar-nav="next">Próximo<span
                              class="btn-label btn-label-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                      </button>
                  </div>

              </div>
          </div>
          <br>

          <div id="calendar" render-calendar ></div>
          <lazy-style href="/public/css/calendar.css"/>
      </div>

  </ion-content>
</ion-view>
