<ion-view class="" title="Dashboard">
    <ion-content class="has-header padding">
        <h1>Procurar Convidado</h1>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar" ng-change="updateSearch(searchvalue)" ng-model="searchvalue">
        </label>

        <ion-list>
            <ion-item class="item item-checkbox" ng-repeat="result in results" type="item-text-wrap">
                <label class="checkbox">
                    <input type="checkbox" ng-model="getValue" ng-change="addtoguest(result.Id,event.Id,getValue)">
                </label>
                {{result.value}}
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
